body {
  text-align: center;
  background-color: #e0ffe0;
  padding: 30px;
}
form {
  display: none;
}
li {
  list-style:none;
}
.container {
  background: #00ffff;
  padding: 30px;
}
.row, .col-md-3 {
  border: solid 1px black;
}

.dough, .sauces, .veggies, .meats, .cheese  {
  display: none;
}

.output {
  display: none;
}

.size {
  display: none;
}

#header {
  border: solid 3px;
  border-color: #ff756b;
  background: #c8caca;
}
#veggies, #meats, #cheese {
  display: none;
}
#submit {
  display: none;
}
